<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Products</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
<div align="center">
    <h1>Products</h1>
    <form action="#" th:action="@{/products/edit}" method="post" th:object="${product}">
        <label>Title:</label>
        <input type="text" th:field="*{Title}" /><br/>
        <label>Calories:</label>
        <input type="text" th:field="*{Calories}" /><br/>

        <input type="hidden" th:field="*{ProductId}" /><br/>
        <button type="submit">Edit</button>

    </form>
</div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2022 footer</div>
</body>
</html>