<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: headerHead">
    <title>Menus</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
<div align="center">
    <h1>Menus</h1>
    <form action="#" th:action="@{/menus/edit}" method="post" th:object="${menu}">
        <label>Title:</label>
        <input type="text" th:field="*{Title}" /><br/>
        <select id="Products" th:field="*{Products}" multiple="multiple">
            <option th:each="product : ${allProducts}"
                    th:value="${product.ProductId}" th:text="|${product.ProductId} - ${product.Title} - ${product.Calories}|">
            </option>
        </select>
        <input type="hidden" th:field="*{MenuId}" /><br/>
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
</div>
</div>
<div th:replace="fragments/footer :: footer">&copy; 2022 footer</div>
</body>
</html>